*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

.form-title{
 padding: 25px 35px;
 overflow: auto;
}
.form-title-intero{
padding: 55px 100px 25px 100px;
}
.form-title .form-title-intero h1{
  color: #0088ce;
  text-align: center;
  font-weight: bold;
  padding-bottom: 25px ;
}
.form-title .form-title-intero p{
 text-align: center;
 font-family: sans-serif;
 color: #9298b3;
 padding: 0px 70px;
 line-height: 12px;
}
.form-title-block{
  overflow: auto;
  padding: 5px 0px 0px 0px;
}
.item{
  padding: 0px;
}

.form-title-block .item h3{
  color: #0088ce;
  text-align: center;
}
.form-title-block .item p{
  padding: 5px 30px 0px 30px;
  text-align: left;
  color: #0088ce;
  line-height: 15px;
  word-spacing: 0px;
  text-align: justify;
}
.separate{
  border: 2px solid #e4e8e8;
  position: relative;
  margin: 30px 10px;
  overflow: auto;
  height: 2px;
}

.form-title{
  padding: 25px 0 100px 0;
  width: 100%;
  overflow: auto;
}

.form-title h2{
  color: #0088ce;
  text-align: center;
  padding: 0px 0px 1px 0px;
}


.the-form{
  width: 800px;
  margin: auto;
  text-align: center;
/*  height: 600px; */
  text-align: center;
/* display: inline; */
/**/
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
}

.the-form label{
  display: block;
  font-family: sans-serif;
  color: #9298b3;
/**/
  font-size: 18px;
  color: #333;
  height: 15px;
  width: 310px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  margin-right:15px;
  float:left;
}

.form-title .the-form input{
  width: 310px;
  height: 50px;
  margin: 10px;
  background-color: #e4e8e8;
  outline: none;
  font-size: 2em;
  padding: 3px 10px;
  color: #AAA;
  text-align: left;

  border: 0;

  border: 1px solid #0088ce;
  margin-top: 10px;
  }

.form-title input::-webkit-input-placeholder{
  color: #cecece;
}

/*
.form-title button{
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  width: 120px;
  color:#0088ce;
  letter-spacing: 2px;
  border: 0;
}
*/


/* CSS */
.form-title button {
  align-items: center;
  appearance: none;
  background-color: #0088ce;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.form-title button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.form-title button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.form-title buttons:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.form-title button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.form-title button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.form-title button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.form-title button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.form-title button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


.footer{
  padding: 15px;
  background-color: #0088ce;
  height: 210px;
  width: 100%;
  font-size: 1.2em;
  text-align: center;

}

.copyright{
  text-align: center;
  margin: 60px 0px 0px 25px;
  color: #ffffff;
  width: 100%;
  font-size: arial;
  font-family: arial;
}

.copyright h5{
  font-size: 1.2em;
}

.copyright a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
