*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

.form-title{
 padding: 25px 35px;
 overflow: auto;
}
.form-title-intero{
padding: 55px 100px 25px 100px;
}
.form-title .form-title-intero h1{
  color: #0088ce;
  text-align: center;
  font-weight: bold;
  padding-bottom: 25px ;
}
.form-title .form-title-intero p{
 text-align: center;
 font-family: sans-serif;
 color: #9298b3;
 padding: 0px 70px;
 line-height: 12px;
}
.form-title-block{
  overflow: auto;
  padding: 5px 0px 0px 0px;
}
.item{
  padding: 0px;
}

.form-title-block .item h3{
  color: #0088ce;
  text-align: center;
}
.form-title-block .item p{
  padding: 5px 30px 0px 30px;
  text-align: left;
  color: #0088ce;
  line-height: 15px;
  word-spacing: 0px;
  text-align: justify;
}
.separate{
  border: 2px solid #e4e8e8;
  position: relative;
  padding: 50px;
  overflow: auto;
  height: 2px;
}

.form-title{
  padding: 25px 0 100px 0;
  width: 100%;
  overflow: auto;
}

.form-title h2{
  color: #0088ce;
  text-align: center;
  padding: 0px 0px 1px 0px;
}


.the-form{
  width: 800px;
  margin: auto;
  text-align: center;
/*  height: 600px; */
  text-align: center;
/* display: inline; */
/**/
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
}

.the-form label{
  display: block;
  font-family: sans-serif;
  color: #9298b3;
/**/
  font-size: 18px;
  color: #333;
  height: 15px;
  width: 500px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  margin-right:15px;
  float:left;
}

.form-title .the-form input{
  width: 310px;
  height: 50px;
  margin: 10px;
  background-color: #e4e8e8;
  outline: none;
  font-size: 2em;
  padding: 3px 10px;
  color: #AAA;
  text-align: left;

  border: 0;

  border: 1px solid #0088ce;
  margin-top: 10px;
  }

.form-title input::-webkit-input-placeholder{
  color: #cecece;
}

.form-title button{
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  width: 120px;
  color:#0088ce;
  letter-spacing: 2px;
  border: 0;
}

.footer{
  padding: 15px;
  background-color: #0088ce;
  height: 210px;
  width: 100%;
  font-size: 1.2em;
  text-align: center;

}

.copyright{
  text-align: center;
  margin: 60px 0px 0px 25px;
  color: #ffffff;
  font-size: arial;
  font-family: arial;
}

.copyright h5{
  font-size: 1.2em;
}

.copyright a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
